<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.78.0" targetFramework="native" />
  <package id="boost_chrono-vc141" version="1.78.0" targetFramework="native" />
  <package id="boost_thread-vc141" version="1.78.0" targetFramework="native" />
  <package id="cereal" version="1.0.0" targetFramework="native" />
  <package id="opencv_450" version="4.5.0.202107263" targetFramework="native" />
</packages>